.dynamic-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 15px;

  &.primary {
    background-color: var(--blue);
    color: white;
  }

  &.secondary {
    background-color: var(--gray);
    color: white;
  }

  &.danger {
    background-color: var(--red);
    color: white;
  }

  &:active{
    position: relative;
    top: 1px;
  }

  &:focus {
    outline: none;
  }
}
